<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/stylelogin.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    rel="stylesheet" />
    
    <title>login</title>
</head>
    
<body>
    <header >
        <div class="main-header">
        <div class="main-header-top-bar">
            <img src="/img/logo-mercado-liebre.svg"alt="logo-mercado-liebre" class="logo">
            <div class="busqueda">
                <form action="" method="GET">
                    <label for="barra de busqueda"></label>
                    <input class="barra-busqueda" type="text" placeholder="Buscar productos, marcas">
                    <button type="submit"<i class="fa-solid fa-magnifying-glass"></i></button>    
                </form>
            </div>     
            <span class="Subtitulo-header"><h4 >
                <i class="fa-solid fa-hand-holding-dollar"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h4>
            </span>
        </div>
        </div>
    
    <nav class="main-navbar">
        <ul class="left-navbar" >
                <li><a href=#>Ofertas</a></li>
                <li><a href=#>Tiendas Oficiales</a></li>
                <li><a href=#>Vender</a></li>
                <li><a href=#>Ayuda</a></li>
        </ul>
        <ul class="right-navbar">
                <li><a href=#>Creá tu cuenta</a><i class="fa-regular fa-address-card"></i></li>
                <li><a href=#>Ingresá</a><i class="fa-solid fa-right-to-bracket"></i></li>
                <li><a href=#>Mis compras</a><i class="fa-solid fa-basket-shopping"></i></li>
            
        </ul>
    </nav>
        <a  class="burger-menu">
        <i class="fas fa-bars"></i>
        </a>
    </div>  
    </header>
        <main>
            <form action="" method="post" class="formulario">     
            <div class="control-formulario">
                <label for="Nombre de usuario"></label>
                <input type="text" placeholder="Nombre de usuario"> 
            </div>  
            <div class="control-formulario">
                <label>Contraseña:</label>
                <div>
                <input type="password" name="clave">
                </div>
            </div>
        </form>
        <div class="boton">
        <button class="boton-enviar" type="submit">enviar</button>
        </div>
        </main>

    <footer>
        <div class="container">
            <div class="ref1">
                <div class="tarjeta" > <i  class="fa-solid fa-credit-card" ></i></div>
                <h3>Pagá con tarjeta o en efectivo</h3> 
                <div class="Fdescripcion">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</div>    
            </div>   
       
        
            <div class="ref1">
            <div class="regalo" ><i class="fa-solid fa-gift"></i></div>
            <h3>Envío gratis desde $ 2.500</h3> 
            <div class="Fdescripcion">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</div>       
            </div>
            
            <div class="ref1">
            <div class="usuario" ><i class="fa-solid fa-user-shield"></i></div>
            <h3>Seguridad, de principio a fin</h3> 
            <div class="Fdescripcion">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</div>    
            </div>   
        </div>
        <section>
            <h4 class="Cuerpos_de_texto">Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>       
        </section>
    </footer>
   
</body>
</html>