<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styleregister.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    rel="stylesheet" />
    
    <title>Register</title>
</head>
<body>
    <header >
        <div class="main-header">
        
            <img src="/img/logo-mercado-liebre.svg"alt="logo-mercado-liebre" class="logo"> 
        
        </div>
        <div class="titulo">Formulario de registro</div>
    </div>  
    </header>
    <main>
        <form action="" method="post" class="formulario">
            <div class="control-formulario">
            <label for="Nombre y Apellido"></label>
            <input type="text" placeholder="Nombre y Apellido">
        </div>       
        <div class="control-formulario">
            <label for="Nombre de usuario"></label>
            <input type="text" placeholder="Nombre de usuario"> 
        </div>       
        <div class="control-formulario">
            <label for="E-mail"></label>
            <input type="text" placeholder="E-mail">
        </div class="control-formulario"> 
        <div class="control-formulario">
            <label for="Fecha de Nacimiento">Fecha de Nacimiento </label>
            <div>
            <input type="date" id="edad">
            </div>
        </div>
        <div class="control-formulario">
            <label for="Domicilio"></label>
            <input type="text" placeholder="Domicilio">
        </div>        
        <div>
            <label for="Perfil">Perfil del usuario </label>
        <div>       
            <label  class="inter"  for="Comprador">Comprador</label>
            <input class="eleccion" type="radio" name="perfil" value="Comprador">
            <label  class="inter"  for="Vendedor">Vendedor</label>
            <input class="eleccion" type="radio" name="perfil" value="Vendedor">
        </div>     
        <label for="Intereses">Intereses </label>
            <div >
            <label class="inter" for="Electro">Electro</label>
            <input class="eleccion" type="checkbox" name="Electro" value="Electro">
        </div>
        <div class="control-formulario" >
            <label class="inter" for="Moda">Moda</label>
            <input class="eleccion" type="checkbox" name="Moda" value="Moda">
        </div>
        <div class="control-formulario">
            <label  class="inter" for="">Hogar</label>
            <input class="eleccion" type="checkbox" name="Hogar" value="Hogar">
        </div>
        <div class="control-formulario">
            <label  class="inter"  for="Jugueteria">Jugueteria</label>
            <input class="eleccion" type="checkbox" name="Jugueteria" value="Jugueteria">
        </div>
        <div class="control-formulario">
            <label  class="inter"  for="Vida sana">Vida sana</label>
            <input class="eleccion" type="checkbox" name="Vida sana" value="Vida sana">
        </div>
        </form>
        <div class="control-formulario">
        <label>Seleccionar una imagen para el perfil</label>
        <input type="file" name="avatar" accept=".jpg" multiple>
        </div> 
        <div class="control-formulario">
            <label>Contraseña:</label>
            <div>
            <input type="password" name="clave">
            </div>
        </div>
        <div class="control-formulario">
            <button type="submit">Confirmar contraseña</button> 
        </div>
        <div class="control-formulario">
        <button  type="reset">limpiar</button>  
        <button class="boton-enviar" type="submit">enviar</button>   
        </div>
    </main>
</body>
</html>